/* Var declation */

/* Default setting */
body{
    margin: 0;
    padding: 0;
}
p{  
    margin:0;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}
button{
    background: #0E0E0E;
    border: none;
    color: white;
    font-family: 'Kanit', sans-serif;    
    padding: .7em 1.2em .7em 1.2em;
    font-size: 1em;
    border-radius: 2em;
    transition: .3s;
}
button:hover{
    background: rgb(58, 58, 58);
}

.container{
    margin: 0 auto;
    max-width: 90%;
    height: 100vh;
}

.topic{
    text-align: center;
    font-size: 3em;
}

/* navbar */
.navbar{
    position: fixed;
    z-index: 999;
    top: 45%;
    right: -20%;
    transform: translateY(-30%);
    transition: .5s ease-out;
}
li>a{
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
}
.navbar .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar .nav-menu li {
    position: relative;
    min-width: 200px;
    text-align: center;
    transition: .3s;

}
.navbar .nav-menu li .dot {
    display: block;
    color: #0E0E0E;
    padding: 5px 0;
    margin: 10% 0 10% 0;
  }


.active{
    background: #0E0E0E;
    transition:.3s;
    
}
.active>span{
    color: #fff;
}

.hover{
    background: #0E0E0E;
    opacity: .7;
    transition: .3s;
}
.hover>span{
    color: #fff;
}
  


/* content */
.text_wrapper{
    width: 60%;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text_wrapper>p>b{
    font-size: 1.3em;
}

/* Homepage */
#home{
    /* background: #6DB828; */
    background-image: url(../img/cactus.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
#home_text{
    font-size: 3rem;
    color: rgb(31, 34, 36);
}

.pic_wrapper{
    float: right;
}

/* about */
.textbox{
    padding-top: 4rem;
    width: 60vw;
    position: absolute;
}
#about_text{
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    /* padding : 3rem; */
    width: 90%;
}
#about_text>p{
    margin: 1em 0 .2em 0;
}
#pic_about{
    float: right;
    width: 30vw;
    height: inherit;
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* cactus */
.selector{
    padding-top: 4%;
    margin: auto;
    max-width: 90%;
    /* height: 95vh; */
}
#big_img{
    padding-top: 6%;
    margin-left: auto;
	margin-right: auto;
    display: block;
}

/* card */

.card{
    margin: 10% 0 0 15%;
    position: absolute;
    width: 15%;
    height: 7vh;
    background: #ebd140;
    box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);
    transition: .5s;
    /* text-align: center; */
    line-height: 7vh;
    overflow: hidden;
}
.card_left{
    
}
.card_right{
    margin-left: 70vw;
}
.card_under{
    margin-top: 65vh;
}
.card_topic{
    font-size: 2em;
    text-align: center;
}
.text_holder{
    padding: 1em;
}
.text_holder>p{
    height: 22vh;
}
.card>p{
    
}
.choice_btn{
    /* display: none; */
    position: relative;
    
}

/* get money */
#money{
    overflow: hidden;
}
#money_topic{
    padding: 4% 0 4% 0;
}

.slider{
    width: 200%;
    transform: translateX(0%);
    transition: 1s ease-in-out;
}

.box{
    background-color: rgb(107, 199, 54);
    box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);
    margin: 0 5% 0 0;
    width: 24vw;
    height: 60vh;
    display: inline-flex;
}

.money_page{
    margin-top: 3%;
    padding: auto;
}

.btn_active{
    color: coral;
    /* background: #000; */
}
